networks:
  globalping:
    name: globalping
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: "${SUBNET_OVERRIDE}"
services:
  agent:
    container_name: globalping-agent
    pull_policy: always
    image: ghcr.io/internetworklab/globalping:latest
    networks:
      - globalping
    volumes:
      - "./container-resolv.conf:/etc/resolv.conf:ro"
      - "./certs:/app/globalping/certs:ro"
    command:
      - "/usr/local/bin/globalping"
      - "agent"
      - "--node-name=${NODE_NAME}"
      - "--http-endpoint=${HTTP_ENDPOINT}"
      - "--peer-c-as=/app/globalping/certs/ca.pem"
      - "--server-name=${HUB_SERVER_NAME}"
      - "--client-cert=/app/globalping/certs/peer.pem"
      - "--client-cert-key=/app/globalping/certs/peer-key.pem"
      - "--server-cert=/app/globalping/certs/peer.pem"
      - "--server-cert-key=/app/globalping/certs/peer-key.pem"
      - "--tls-listen-address=:8081"
      - "--shared-quota=10"
    mem_limit: 256m
