[submodule "cfssl"]
	path = cfssl
	url = https://github.com/cloudflare/cfssl.git
[submodule "regquery"]
	path = regquery
	url = git@github.com:internetworklab/regquery.git
[submodule "miekg"]
	path = miekg
	url = https://codeberg.org/miekg/dns.git
