IPINFO_TOKEN=
TG_BOT_TOKEN=
TG_WS_SECRET=
IP2LOCATION_API_KEY=
JWT_SECRET=
JWT_TOKEN=
TG_WS_SECRET_TEST=
TG_BOT_TOKEN_TEST=
UPSTREAM_JWT_TOKEN=
CF_TUI_SVC_AUD=
IPREGISTRY_API_KEY=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_APP_SECRET=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
IEDON_OAUTH_CLIENT_ID=
IEDON_OAUTH_CLIENT_SECRET=
KIOUBIT_OAUTH_CLIENT_ID=
KIOUBIT_OAUTH_CLIENT_SECRET=
ENTRA_ID_CLIENT_ID=
ENTRA_ID_TENANT_ID=
ENTRA_ID_CLIENT_SECRET=
