CF_ZONE_ID=required          # Get it from Cloudflare, for running the scripts to create tunnel
CF_ACCOUNT_ID=required       # Get it from Cloudflare, for running the scripts to create DNS resource record
CF_API_TOKEN=required        # Get it from Cloudflare, for running the scripts
MAIN_DOMAIN=app.example.com  # The public domain name for the web app
BOT_DOMAIN=demo-bot.ping2.sh # The public domain for receive Telegram bot's webhook callback
TUNNEL_NAME=cloudping-demo   # The name of cloudflared tunnel being created for the demo

TG_BOT_TOKEN=required        # For letting the bot authenticate itself to Telegram bot server
TG_WS_SECRET=required        # Generate randomly at start time
IP2LOCATION_API_KEY=required # Get it from IP2Location official website
JWT_SECRET=required          # Generate randomly at start time, the cli also use this to sign jwt token
JWT_TOKEN=required           # For letting the agent authenticate itself to the hub
UPSTREAM_JWT_TOKEN=required  # For letting the bot authenticate itself to the hub

CF_TUI_SVC_AUD=              # For validate request from cloudflare email service/worker, note, we use cf worker as smtp-http gateway
IPREGISTRY_API_KEY=          # For query ip information from ipregistry.co

GITHUB_OAUTH_CLIENT_ID=      # Github OAuth app client ID, used by the web-proxy for GitHub SSO login
GITHUB_OAUTH_APP_SECRET=     # Github OAuth app secret, used by the web-proxy for GitHub SSO login

GOOGLE_OAUTH_CLIENT_ID=      # Google OAuth client ID, used by the web-proxy for Google SSO login
GOOGLE_OAUTH_CLIENT_SECRET=  # Google OAuth client secret, used by the web-proxy for Google SSO login

IEDON_OAUTH_CLIENT_ID=       # iEdon OAuth client ID, used by the web-proxy for SSO login
IEDON_OAUTH_CLIENT_SECRET=   # iEdon OAuth client secret, used by the web-proxy for SSO login

KIOUBIT_OAUTH_CLIENT_ID=     # Kioubit OAuth client ID, used by the web-proxy for SSO login
KIOUBIT_OAUTH_CLIENT_SECRET= # Kioubit OAuth client secret, used by the web-proxy for SSO login
