CF_ZONE_ID=required          # Get it from Cloudflare, for running the scripts to create tunnel
CF_ACCOUNT_ID=required       # Get it from Cloudflare, for running the scripts to create DNS resource record
CF_API_TOKEN=required        # Get it from Cloudflare, for running the scripts
MAIN_DOMAIN=app.example.com  # The public domain name for the web app
BOT_DOMAIN=demo-bot.ping2.sh # The public domain for receive Telegram bot's webhook callback
TUNNEL_NAME=cloudping-demo   # The name of cloudflared tunnel being created for the demo

TG_BOT_TOKEN=required        # For letting the bot authenticate itself to Telegram bot server
TG_WS_SECRET=required        # Generate randomly at start time
IP2LOCATION_API_KEY=required # Get it from IP2Location official website
JWT_SECRET=required          # Generate randomly at start time, the cli also use this to sign jwt token
JWT_TOKEN=required           # For letting the agent authenticate itself to the hub
UPSTREAM_JWT_TOKEN=required  # For letting the bot authenticate itself to the hub
