JWT_SECRET=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_APP_SECRET=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
IEDON_OAUTH_CLIENT_ID=
IEDON_OAUTH_CLIENT_SECRET=
KIOUBIT_OAUTH_CLIENT_ID=
KIOUBIT_OAUTH_CLIENT_SECRET=
