services:
  web:
    container_name: globalping-web
    image: ghcr.io/internetworklab/globalping-web:latest
    pull_policy: always
    ports:
      - "45843:80"
    volumes:
      - "./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro"
    extra_hosts:
      - "host.docker.internal:host-gateway"
